body{
    background-color: lightgrey;
    font-family: 'Source Code Pro', monospace;
}
h1{
    font-family: 'Source Code Pro', monospace;
    background-color:whitesmoke;
    position:relative;
}


.border #top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }