body{
	background-color:white;
	background-size:cover;
}

h1{
	
font-family:   font-family:'Helvetica';
;

font-weight: 700;

	position:relative;
	padding:15px;
	margin-left:10px;
	font-size: 80px;
	text-align: center;
}

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
  font-family:'Helvetica';
}


		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color:black;
			border-style:inset;
			border-width: 7px;
		  }
		  
		  li {
			float: left;
		  }
		  
		  li a, .dropbtn {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		  }
		  
		  li a:hover, .dropdown:hover .dropbtn {
			background-color:red;
		  }
		  
		  li.dropdown {
			display: inline-block;
		  }
		  
		  .dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		  }
		  
		  .dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			text-align: left;
		  }
		  
		  .dropdown-content a:hover {background-color: #f1f1f1;}
		  
		  .dropdown:hover .dropdown-content {
			display: block;
		  }