body{
	background-color: linen;
}

#container{
 position: absolute;
   top: 55%;
   left: 53%;
   width: 500px;
   height: 500px;
   margin-top: -250px; 
   margin-left: -250px; 
}

h1{
	font-family: 'PT Sans', sans-serif;
	color: powderblue;
	font-size:80px;
	padding:10px;
	padding-top: 5px;
	text-align: center;

}
/* button is on top of the red button in the image */
#button{
	z-index:10px;

}

/* should record and once user is done recording it should automatically download*/


