
body{
	cursor:url('img/cursor.png'),auto;
	background-color: white;
	margin-bottom:100px;
}

#title{
font-family: 'Roboto Mono', monospace;
font-size: 50px;
color:black;
margin-bottom:50px;
position:relative;
text-align: left;

}
#yes{
	font-family: 'Roboto Mono', monospace;
	float: left;
	position: absolute;
	font-size: 55px;
	color: red;
	margin-left: 180px;
	margin-top: px;
	width: 300px;
	text-align: center;
	background-color: white;
	padding: 15px;
}


.button{
	font-family: 'Roboto Mono', monospace;
	width: 100px;
	height: 60px;
	background-color: powderblue;
	margin-bottom:50px;
	padding:5px 5px 5px 5px;
	
}

.button:hover{
	background-color: #e2e2e2;
}


.button2{
	font-family: 'Roboto Mono', monospace;
	width: 250px;
	height: 60px;
	background-color: powderblue;


	
}

.button2:hover{
	background-color: #e2e2e2;
}

.button3{
	font-family: 'Roboto Mono', monospace;
	width: 250px;
	height: 60px;
	background-color: powderblue;
		margin-bottom:50px;

	
}

.button3:hover{
	background-color: #e2e2e2;
}

.button3{
	font-family: 'Roboto Mono', monospace;
	width: 250px;
	height: 60px;
		margin-bottom:50px;


}

.button3:hover{
	background-color: #e2e2e2;
}

.button4{
	font-family: 'Roboto Mono', monospace;
	width: 250px;
	height: 60px;
	background-color: powderblue;
		margin-bottom:50px;


}

.button4:hover{
	background-color: #e2e2e2;
}


.button5{
	font-family: 'Roboto Mono', monospace;
	width: 250px;
	height: 60px;
	background-color: powderblue;
		margin-bottom:50px;


}

.button5:hover{
	background-color: #e2e2e2;
}


.button6{
	font-family: 'Roboto Mono', monospace;
	width: 250px;
	height: 60px;
	background-color: powderblue;
		margin-bottom:50px;


}

.button6:hover{
	background-color: #e2e2e2;
}

.button7{
	font-family: 'Roboto Mono', monospace;
	width: 250px;
	height: 60px;
	background-color: powderblue;
		margin-bottom:50px;


}

.button7:hover{
	background-color: #e2e2e2;
}


#draggable{
	width: 400px;
	float: left;
	position: absolute;
	margin-top: 30px;
	margin-left: 50px;
}

#draggable2{
	width: 400px;
	float: left;
	position: absolute;
	margin-top: 300px;
	margin-left: 50px;
}





