#bedframe{
	position:absolute;
	z-index:-10;
	background-color:#915E11;
	border-style:solid;
	border-color:#603F0E;
	border-width:10px;
	width:450px;
	height:600px;
	border-radius:5px;
	margin-left:500px;
	margin-bottom:300px;
	margin-top:150px;
	}

#mattress{
	position:absolute;
	background-color: pink;
	width:450px;
	height:600px;
	margin-top:160px;
	border-width: 15px;
	border-color:#DEB887;
	margin-left:510px;
	z-index:-10;
}


#fittedsheet{
	margin-left:510px;
	position:absolute;
	background-color:#green;
	width:450px;
	height:600px; 
	margin-top:160px;
	margin-bottom:100px;
	z-index:1;
}

#blanket{
	position:absolute;
	background-color: salmon;
	width:450px;
	height:470px; 
	margin-top:290px;
	margin-left:510px;
	z-index:-1;
	box-shadow: -1px 4px 98px 21px rgba(240,106,106,0.76) inset;
	-webkit-box-shadow: -1px 4px 98px 21px rgba(240,106,106,0.76) inset;
	-moz-box-shadow: -1px 4px 98px 21px rgba(240,106,106,0.76) inset;
}

#first{
	display:inline-block;
	background-color:orange;
	width:180px;
	height:100px;
	border-radius: 15px;
	margin-top:170px;
	margin-left:48px;
	float:left;
	box-shadow: 5px 10px 2px 1px rgba(0, 0, 255, .2);}
	
#second{

	display:inline-block;
	background-color: orange;
	width:180px;
	height:100px;
	border-radius: 15px;
	margin-top:-1px;
	margin-left:230px;
		box-shadow: 5px 10px 2px 1px rgba(0, 0, 255, .2);


}



