body {
	background-image: url("../images/glitch.gif");
	background-size:cover;

}
h1{
	color:white;
}
p{
	color:white;
}
.container {
	display: flex;
	max-width: 1280px;
	padding: 30px 20px;
	margin: 0 auto;

	&--small {
		max-width: 900px;
	}
}