.gallery {
	//gallery CSS goes here
display:flex;
flex-wrap:wrap;
justify-content:space-between;

&__item{
	width: calc(25% - 12px);
	flex: 0 0 auto;
	margin-bottom: 13px;
	background: size 100%;
	background-repeat: no-repeat;
	background-position:center;
	filter:grayscale(100%);
	transition:all .2s ease-in-out , background-size .2s ease-in-out;
	overflow:hidden;
	cursor:pointer;

	@include tablet {
		width: calc(50% - 6px);
	}
	@include mobile{
		width: 100%;

	}

	&:hover{
		filter:grayscale(0);
		background-size:102%;
	}

	&:nth-child(1){
		background-image:url("../images/01.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(2){
		background-image:url("../images/02.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(3){
		background-image:url("../images/03.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(4){
		background-image:url("../images/04.jpg");
		position:center;
		background-color:cover;
	}

	&:nth-child(5){
		background-image:url("../images/05.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(6){
		background-image:url("../images/06.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(7){
		background-image:url("../images/07.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(8){
		background-image:url("../images/08.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(9){
		background-image:url("../images/09.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(10){
		background-image:url("../images/10.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(11){
		background-image:url("../images/11.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(12){
		background-image:url("../images/12.jpg");
		position:center;
		background-color:cover;
	}	
	&:nth-child(13){
		background-image:url("../images/13.jpg");
		position:center;
		background-color:cover;
	}	
	&:nth-child(14){
		background-image:url("../images/14.jpg");
		position:center;
		background-color:cover;
	}	
	&:nth-child(15){
		background-image:url("../images/15.jpg");
		position:center;
		background-color:cover;
	}	
	&:nth-child(16){
		background-image:url("../images/16.jpg");
		position:center;
		background-color:cover;
	}	
	&:nth-child(17){
		background-image:url("../images/17.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(18){
		background-image:url("../images/18.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(19){
		background-image:url("../images/19.jpg");
		position:center;
		background-color:cover;
	}
	&:nth-child(20){
		background-image:url("../images/20.jpg");
		position:center;
		background-color:cover;
	}
	div {
		padding-bottom: 56.25%;
	}
}

}
