body{
    background-color:black;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 200px 200px;
  background-color: green;
 border-radius: 200px;
 margin-top:200px;
 margin-left:200px;
 margin-bottom: 200px;
}

a:hover {
  background-color: black;
  color: black;
}

.previous {
  background-color: red;
  color: black;
}
